.maincontainer1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyTr5UUErZk0OB75xvm9imKkYGrOHY-S-DwQ&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    width: 100vw;
    height: 100vh;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 192, 203, 0.667);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    margin-top: 100px;
  }
  
  /* Form Title */
  .login-title {
    color: green;
    background-color: yellow;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  /* Form Labels */
  .login-label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Form Inputs */
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Submit Button */
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  