/* Container for centering content */
.maincontainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f2f5;
    padding: 20px;
}

/* Login container styles */
.login-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #6b7cfe;
    transition: transform 0.3s ease-in-out;
}

.login-container:hover {
    transform: translateY(-10px);
}

/* Login form styles */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Title styles */
.login-title {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #333;
}

/* Input and label styles */
.form-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e2e8f0;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

.login-label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
}

/* Button styles */
.btn-primary {
    background-color: #7510d9;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #51fc3a;
}

/* Error message styles */
.text-red-500 {
    color: #e53e3e;
    font-size: 0.875rem;
    margin-top: -0.75rem;
    margin-bottom: 1rem;
}

/* Dotted password styles */
.demo__text.demo__text-dots {
    display: inline-block;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #999;
    font-family: monospace;
}
.password-container {
    position: relative;
}

.password-input {
    padding-right: 2.5rem; /* Adjust space for the eye icon */
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}
