
.maincontainer1{

    background-image: url('src/assets/logo1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    width: 60%; /* Adjust as needed */
    padding: 40px;
    background-color: #a08ff73c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    max-width: 600px; /* Example: Setting a max-width to prevent excessive width */
}


.login-form{
    display: flex;
    flex-direction: column;
} 

.login-title
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-title span{
    color: #007bff;
}
.login-input{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bottons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.login-button:hover{
    background-color: #08e817;
}