.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: 100%;
    background-color: aqua;
}

#courseName{
    font-weight: 400;
    width: 50%;
    margin-right: 10%;
    font-size: 20px;
    color: blue; 
    background-color: palevioletred;  
    text-align: center; 
}
#opendate{
    background-color: rgba(128, 128, 128, 0.389);
    font-size: 15px;
}
#endDate{
    background-color: red;
}
.pCI{
   font-size: 15px; 
}
.button{
    font-weight: 400;
    float: left;
    color: blue;
    background-color: rgba(0, 128, 0, 0.545);
    border-radius: 8px 8px 8px;
   
}
#b{
    font-weight: bold;
}