.carousel-container {
  position: relative;
  margin: 20px auto;
  max-width: 100%; /* Adjust to full width */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  width: 100%;
  animation: scroll 20s linear infinite;
}

.carousel .col-md-4 {
  flex: 0 0 auto;
  min-width: 300px; /* Adjust based on your card width */
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: #0056b3;
}
/* need that upon hover the transform stops */
.carousel:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
